interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.1101/2020.01.17.909838
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.1101%2F2020.01.17.909838/transform">https://api.crossref.org/v1/works/10.1101%2F2020.01.17.909838/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.1101%2F2020.01.17.909838/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.1101%2F2020.01.17.909838/transform
  response:
    body:
      string: '{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2023,7,31]],"date-time":"2023-07-31T10:13:47Z","timestamp":1690798427865},"posted":{"date-parts":[[2020,1,17]]},"group-title":"Neuroscience","reference-count":65,"publisher":"Cold
        Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"accepted":{"date-parts":[[2020,10,9]]},"abstract":"<jats:p>Progress
        in science requires standardized assays whose results can be readily shared,
        compared, and reproduced across laboratories. Reproducibility, however, has
        been a concern in neuroscience, particularly for measurements of mouse behavior.
        Here we show that a standardized task to probe decision-making in mice produces
        reproducible results across multiple laboratories. We designed a task for
        head-fixed mice that combines established assays of per[...]
