interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.1523/JNEUROSCI.6157-08.2009
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.1523%2FJNEUROSCI.6157-08.2009/transform">https://api.crossref.org/v1/works/10.1523%2FJNEUROSCI.6157-08.2009/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.1523%2FJNEUROSCI.6157-08.2009/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.1523%2FJNEUROSCI.6157-08.2009/transform
  response:
    body:
      string: '{"indexed":{"date-parts":[[2023,10,14]],"date-time":"2023-10-14T11:22:39Z","timestamp":1697282559256},"reference-count":42,"publisher":"Society
        for Neuroscience","issue":"31","license":[{"start":{"date-parts":[[2010,2,5]],"date-time":"2010-02-05T00:00:00Z","timestamp":1265328000000},"content-version":"vor","delay-in-days":184,"URL":"https:\/\/creativecommons.org\/licenses\/by-nc-sa\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2009,8,5]]},"abstract":"<jats:p>Reinforcement
        learning theory plays a key role in understanding the behavioral and neural
        mechanisms of choice behavior in animals and humans. Especially, intermediate
        variables of learning models estimated from behavioral data, such as the expectation
        of reward for each candidate choice (action value), have been used in searches
        for the neural correlates of computational elements in learning and decision
        making. The aims of the present study are a[...]
