interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.1038/s41467-023-37704-5
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.1038%2Fs41467-023-37704-5/transform">https://api.crossref.org/v1/works/10.1038%2Fs41467-023-37704-5/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.1038%2Fs41467-023-37704-5/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.1038%2Fs41467-023-37704-5/transform
  response:
    body:
      string: '{"indexed":{"date-parts":[[2023,10,10]],"date-time":"2023-10-10T16:23:04Z","timestamp":1696954984679},"reference-count":86,"publisher":"Springer
        Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2023,4,8]],"date-time":"2023-04-08T00:00:00Z","timestamp":1680912000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"},{"start":{"date-parts":[[2023,4,8]],"date-time":"2023-04-08T00:00:00Z","timestamp":1680912000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"}],"funder":[{"DOI":"10.13039\/100000153","name":"NSF
        | BIO | Division of Biological Infrastructure","doi-asserted-by":"publisher","award":["1934288"]},{"DOI":"10.13039\/100001391","name":"Whitehall
        Foundation","doi-asserted-by":"publisher"},{"DOI":"10.13039\/100000065","name":"U.S.
        Department of Health & Human Services | NIH | National Institute of Neurological
        Disorders and Stroke","doi-asserted-by":"publisher","award":["R01NS121919"]}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Spatial
        cognition depends on an accurate representation of orientation within an environment.
        Head direction cells in distributed brain regions receive a range of sensory
        inputs, but visual input is particularly important for aligning their responses
        to environmental landmarks. To investigate how population-level heading responses
        are aligned to visual input, we recorded from retrosplenial cortex (RSC) of
        head-fixed mice in a moving environment using two-photon calcium imaging.
        We show that RSC neurons are tuned to the animal\u2019s relative orientation
        in the environment, even in the absence of head movement. Next, we found that
        RSC receives functionally distinct projections from visual and thalamic areas
        and contains several functional classes of neurons. While some functional
        classes mirror RSC inputs, a newly discovered class coregisters visual and
        thalamic signals. Finally, decoding analyses reveal unique contributions to
        heading from each class. Our results suggest an RSC circuit for anchoring
        heading representations to environmental visual landmarks.<\/jats:p>","DOI":"10.1038\/s41467-023-37704-5","type":"journal-article","created":{"date-parts":[[2023,4,8]],"date-time":"2023-04-08T14:02:45Z","timestamp":1680962565000},"update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":3,"title":"Coregistration
        of heading to visual cues in retrosplenial cortex","prefix":"10.1038","volume":"14","author":[{"given":"Kevin
        K.","family":"Sit","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-5366-8501","authenticated-orcid":false,"given":"Michael
        J.","family":"Goard","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2023,4,8]]},"reference":[{"key":"37704_CR1","doi-asserted-by":"publisher","first-page":"849","DOI":"10.1126\/science.aal4835","volume":"356","author":"SS
        Kim","year":"2017","unstructured":"Kim, S. S., Rouault, H., Druckmann, S.
        & Jayaraman, V. Ring attractor dynamics in the Drosophila central brain. Science
        356, 849\u2013853 (2017).","journal-title":"Science"},{"key":"37704_CR2","doi-asserted-by":"publisher","first-page":"186","DOI":"10.1038\/nature14446","volume":"521","author":"JD
        Seelig","year":"2015","unstructured":"Seelig, J. D. & Jayaraman, V. Neural
        dynamics for landmark orientation and angular path integration. Nature 521,
        186\u2013191 (2015).","journal-title":"Nature"},{"key":"37704_CR3","doi-asserted-by":"publisher","first-page":"338","DOI":"10.1016\/j.cub.2021.11.009","volume":"32","author":"MJ
        Bee[...]
