interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.1016/j.neuron.2019.10.012
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.1016%2Fj.neuron.2019.10.012/transform">https://api.crossref.org/v1/works/10.1016%2Fj.neuron.2019.10.012/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      link:
      - <https://dul.usage.elsevier.com/doi/>; rel=dul
      - <https://dul.usage.elsevier.com/doi/>; rel=dul
      location:
      - https://api.crossref.org/v1/works/10.1016%2Fj.neuron.2019.10.012/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.1016%2Fj.neuron.2019.10.012/transform
  response:
    body:
      string: '{"indexed":{"date-parts":[[2023,9,27]],"date-time":"2023-09-27T21:31:39Z","timestamp":1695850299681},"reference-count":107,"publisher":"Elsevier
        BV","issue":"1","license":[{"start":{"date-parts":[[2020,1,1]],"date-time":"2020-01-01T00:00:00Z","timestamp":1577836800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2021,1,8]],"date-time":"2021-01-08T00:00:00Z","timestamp":1610064000000},"content-version":"vor","delay-in-days":373,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/100000002","name":"NIH","doi-asserted-by":"publisher","award":["MH54671","MH107396","U19
        NS107616","U19 NS104590","NS090583"]},{"name":"NSF","award":["1545858"]},{"DOI":"10.13039\/100000893","name":"Simons
        Foundation","doi-asserted-by":"publisher","award":["351109"]}],"content-domain":{"domain":["cell.com","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"published-print":{"date-parts":[[2020,1]]},"DOI":"10.1016\/j.neuron.2019.10.012","type":"journal-article","created":{"date-parts":[[2019,11,26]],"date-time":"2019-11-26T15:49:05Z","timestamp":1574783345000},"page":"138-149.e5","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":33,"title":"Routing
        of Hippocampal Ripples to Subcortical Structures via the Lateral Septum","prefix":"10.1016","volume":"105","author":[{"given":"David","family":"Tingley","sequence":"first","affiliation":[]},{"given":"Gy\u00f6rgy","family":"Buzs\u00e1ki","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.neuron.2019.10.012_bib1","doi-asserted-by":"crossref","first-page":"522","DOI":"10.1016\/j.cell.2013.12.040","article-title":"Control
        of stress-induced persistent anxiety by an extra-amygdala septohypothalamic
        circuit","volume":"156","author":"Anthony","year":"2014","journal-title":"Cell"},{"key":"10.1016\/j.neuron.2019.10.012_bib2","article-title":"Lateral
        septum neurotensin neurons link stress and anorexia","author":"Azevedo","year":"2019","journal-title":"bioArxiv"},{"key":"10.1016\/j.neuron.2019.10.012_bib3","first-page":"1","article-title":"CircStat:
        a MATLAB toolbox for circular statistics","volume":"31","author":"Berens","year":"2009","journal-title":"J.\u00a0Stat.
        Softw."},{"key":"10.1016\/j.neuron.2019.10.012_bib4","doi-asserted-by":"crossr[...]
