interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://doi.org/10.7554/eLife.48198
  response:
    body:
      string: '<html><head><title>Handle Redirect</title></head>

        <body><a href="https://api.crossref.org/v1/works/10.7554%2FeLife.48198/transform">https://api.crossref.org/v1/works/10.7554%2FeLife.48198/transform</a></body></html>'
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://api.crossref.org/v1/works/10.7554%2FeLife.48198/transform
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/v1/works/10.7554%2FeLife.48198/transform
  response:
    body:
      string: '{"indexed":{"date-parts":[[2023,10,15]],"date-time":"2023-10-15T04:56:03Z","timestamp":1697345763946},"reference-count":98,"publisher":"eLife
        Sciences Publications, Ltd","license":[{"start":{"date-parts":[[2020,1,23]],"date-time":"2020-01-23T00:00:00Z","timestamp":1579737600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"},{"start":{"date-parts":[[2020,1,23]],"date-time":"2020-01-23T00:00:00Z","timestamp":1579737600000},"content-version":"am","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"},{"start":{"date-parts":[[2020,1,23]],"date-time":"2020-01-23T00:00:00Z","timestamp":1579737600000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["Graduate Research
        Fellowship DGE-1324585"]},{"DOI":"10.13039\/100000002","name":"National Institutes
        of Health","doi-asserted-by":"publisher","award":["R01 NS095251"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<jats:p>Proprioception,
        the sense of body position, movement, and associated forces, remains poorly
        understood, despite its critical role in movement. Most studies of area 2,
        a proprioceptive area of somatosensory cortex, have simply compared neurons\u2019
        activities to the movement of the hand through space. Using motion tracking,
        we sought to elaborate this relationship by characterizing how area 2 activity
        relates to whole arm movements. We found that a whole-arm model, unlike classic
        models, successfully predicted how features of neural activity changed as
        monkeys reached to targets in two workspaces. However, when we then evaluated
        this whole-arm model across active and passive movements, we found that many
        neurons did not consistently represent the whole arm over both conditions.
        These results suggest that 1) neural activity in area 2 includes representation
        of the whole arm during reaching and 2) many of these neurons represented
        limb state differently during active and passive movements.<\/jats:p>","DOI":"10.7554\/elife.48198","type":"journal-article","created":{"date-parts":[[2020,1,23]],"date-time":"2020-01-23T11:00:19Z","timestamp":1579777219000},"source":"Crossref","is-referenced-by-count":37,"title":"Area
        2 of primary somatosensory cortex encodes kinematics of the whole arm","prefix":"10.7554","volume":"9","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-5934-919X","authenticated-orcid":true,"given":"Raeed
        H","family":"Chowdhury","sequence":"first","affiliation":[{"name":"Department
        of Biomedical Engineering, Northwestern University, Evanston, United States"},{"name":"Systems
        Neuroscience Institute, University of Pittsburgh, Pittsburgh, United States"}]},{"ORCID":"http:\/\/orcid.org\/0000-0003-2906-115X","authenticated-orcid":true,"given":"Joshua
        I","family":"Glaser","sequence":"additional","affiliation":[{"name":"Interdepartmental
        Neuroscience Program, Northwestern University, Chicago, United States"},{"name":"Department
        of Statistics, Columbia University, New York, United States"},{"name":"Zuckerman
        Mind Brain Behavior Institute, Columbia University, New York, United States"}]},{"ORCID":"http:\/\/orcid.org\/0000-0001-8675-7140","authenticated-orcid":true,"given":"Lee
        E","family":"Miller","sequence":"additional","affiliation":[{"name":"Department
        of Biomedical Engineering, Northwestern University, Evanston, United States"},{"name":"Department
        of Physiology, Northwestern University, Chicago, United States"},{"name":"Department
        of Physical Medicine and Rehabilitation, Northwestern University, Chicago,
        United States"},{"name":"Shirley Ryan AbilityLab, Chicago, United States"}]}],"member":"4374","published-online":{"date-parts":[[2020,1,23]]},"reference":[{"key":"bib1","doi-asserted-by":"publisher","first-page":"280","DOI":"10.1115\/1.3138494","article-title":"Determination
        of muscle orientations and moment arms","volume":"106","author":"An","year":"1984","journal-title":"Journal
        of Biomechanical Engineering"},{"key":"bib2","doi-asserted-by":"publisher","DOI":"10.7554\/eLife.32904","article-title":"Proprioceptive
        and cutaneous sensations in humans elicited by intracortical microstimulation","volume":"7","author":"Armenta
        Salas","year":"2018","journal-title":"eLife"},{"key":"bib3","doi-asserted-by":"publisher","first-page":"1745","DOI":"10.1073\/pnas.0709212105","article-title":"Variable
        gearing in pennate muscles","volume":"105","author":"Azizi","year":"2008","journal-title":"PNAS"},{"key":"bib4","doi-asserted-by":"publisher","first-page":"450","DOI":"10.1126\/science.7291985","article-title":"An
        efference copy which is modified by reafferent input","volume":"214","author":"Bell","year":"1981","journal-title":"Science"},{"key":"bib5","doi-asserted-by":"publisher","article-title":"The
        reach cage environment for wireless neural recordings during structured goal-directed
        behavior of unrestrained monkeys","volume-title":"bioRxiv","author":"Berger","year":"2018","DOI":"10.1101\/305334"},{"key":"bib6","doi-asserted-by":"publisher","first-page":"715","DOI":"10.1152\/jn.1996.76.2.715","article-title":"Representation
        of passive hindlimb postures in cat spinocerebellar activity","volume":"76","author":"Bosco","year":"1996","journal-title":"Journal
        of Neurophysiology"},{"key":"bib7","doi-asserted-by":"publisher","first-page":"2931","DOI":"10.1152\/jn.2000.83.5.2931","article-title":"Reference
        f[...]
